@using (Ajax.BeginForm("SaveWorkersArchive", "Worker", new AjaxOptions { OnSuccess = "onSuccessSaveWorkerArchive", OnFailure = "onFailureSaveWorkerArchive", UpdateTargetId = "modal-panel" }, new { enctype = "multipart/form-data" }))
{
    <div id="modal-panel">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Fechar" id="btn_close_modal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="cadastrarFuncionariosLabel"><br class="Apple-interchange-newline">Cadastrar Funcionários</h4>
                </div>
                <div class="modal-body" id="edit-modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @id = "validation-data", @class = "text-danger-summary" })
                    </div>
                    <div class="form-group" id="sendArchive" >
                        <div class="col-xs-12 modal-div">
                            <input class="btn btn-default sing-up-button" type="file" id="workersArchive" name="workersArchive" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 modal-div">
                            <a id="downloadArchive" class="btn btn-default sing-up-button" href="/admin/funcionarios/baixarPlanilha"  title="Baixar planilha de funcionários"><i class="fa fa-download"></i> Baixar Modelo</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, false);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
            }
            onSuccessSaveWorkerArchive();
        }
    }, true);
</script>