<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Financista.Web\packages.config" />
  <repository path="..\Global\Financista.Batch\packages.config" />
  <repository path="..\Global\Financista.Broker\packages.config" />
  <repository path="..\Global\Lib\MySql.AspNet.Identity\MySql.AspNet.Identity\packages.config" />
  <repository path="..\Global\Vlast.Util\packages.config" />
  <repository path="..\Model\Financista.Model\packages.config" />
  <repository path="..\Nash.Web\packages.config" />
  <repository path="..\Workers\Financista.Jobs.Host\packages.config" />
  <repository path="..\Workers\Financista.Jobs\packages.config" />
  <repository path="..\Workers\Jobs.Tests\packages.config" />
</repositories>