
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $("#CadastrarAjuda").addClass("active");
</script>

<div>
    <div class="pageheader">
        <h2><i class="fa fa-question-circle"></i> Ajuda</h2>
        <br />
        <small>
            <a href="/admin/topicoAjuda">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>
        </small>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <div class="tile transparent">
                    <div class="tile-body color transparent-black rounded-corners">
                        <div id="gerenciarperfis" class="table-toolbar-left">
                            <a id="demo-dt-addrow-btn" class="btn btn-default sing-up-button" href="/admin/ajuda/cadastrar/@ViewBag.TopicHelpId" title="Cadastrar Ajuda" onclick="showEntityModal(this); return false;"><i class="fa fa-plus"></i> Cadastrar Ajuda</a>
                        </div>
                        <div class="">
                            <input type="hidden" name="TopicHelpId" id="TopicHelpId" value="@ViewBag.TopicHelpId"/>
                            <table id="helpDataTable" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Titulo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tile-footer border-top color white rounded-bottom-corners nopadding">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="entity-edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" />

<script src="/Content/Js/app/help.js" charset="iso-8859-1"></script>