
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">
    $("#ReportAdmin").addClass("active");
</script>


<div>
    <div class="pageheader">
        <h2><i class="fa fa-folder-open-o"></i> Contra Relatorio</h2>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <div class="tile transparent">
                    <div class="tile-body color transparent-black rounded-corners">
                        <div class="row">
                            <div id="" style="margin-top:26px" class="col-md-6">
                                <!--table-toolbar-left -->
                                <button id="demo-dt-addrow-btn-2" class="btn btn-default sing-up-button" ><i class="fa fa-download"></i> Baixar Planilia</button><!--onclick="downloadTable($('#initDate').val(), $('#finishDate').val(), $('#dropDownGame').val())"-->
                                 
                            </div>
                            <div id="" style="margin-top:26px" class="col-md-6 text-right">
                                <button id="demo-dt-addrow-btn" class="btn btn-default sing-up-button" onclick="createTable($('#initDate').val(), $('#finishDate').val(), $('#dropDownGame').val())">Pesquisar</button>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-3">
                                <p>Date Inicial:</p> <input style="color: #000" type="text" id="initDate"/> 
                            </div>
                            <div class="col-md-3">
                                <p>Date final:</p>  <input style="color: #000" type="text" id="finishDate"/> 
                            </div>
                            <div class="col-md-6">
                                <p>Empresas:</p>  <select class="chosen-select chosen-transparent form-control" id="dropDownGame"></select>
                            </div>
                        </div>
                    </div>
                    <div class="bg-transparent-black-3 tile-footer border-top color white rounded-bottom-corners nopadding">
                        
                        <div id="div-tableUsers" class=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript">

    $("#demo-dt-addrow-btn-2").click(function (e) {
        window.open('data:application/vnd.ms-excel,' + $('#div-tableUsers').html());
        e.preventDefault();
    });

    $(function () {
        $("#initDate").datepicker();
    });

    $(function () {
        $("#finishDate").datepicker();
    });
</script>



<script src="~/Content/Js/app/reportAdmin.js" charset="iso-8859-1"></script>
