@using Vlast.Gamific.Web.Controllers.Account
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<body class="bg-1">
    <div id="wrap">
        <div class="row">
            <div id="content" class="col-md-12 full-page login">
                <div class="inside-block">
                    <a href="/">
                        <img src="~/Content/img/logo.png" style="width: 100%;" alt="" class="logo" />
                    </a>
                    <h1><strong>Bem-vindo</strong></h1>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="row" id="error-summary-id">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger-summary" })
                        </div>

                        <div style="text-align:left;">
                            <a id="color-w" href="/">
                                <i class="fa fa-arrow-left"></i> Voltar
                            </a>
                        </div>
                        <fieldset>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @maxlength = "100", @class = "form-control", @placeholder = "Digite o seu e-mail para resetar a senha" })
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            <div class="log-in">
                                <input type="submit" value="Enviar" onclick="document.getElementById('error-summary-id').style.display = 'none';" class="btn btn-greensea" />
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

