
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $("#Hierarchy").addClass("active");
</script>

<div>
    <div class="pageheader">
        <h2><i class="fa fa-tachometer"></i> Resultados</h2>
    </div>
    <input hidden type="text" value="@ViewBag.EpisodeId" id="EpisodeId" />
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <section class="tile transparent" id="Filters">
                    <div class="tile-header color transparent-black textured rounded-corners ">
                        Campanha
                        <br />
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="">
                                        <div class="col-xs-12">
                                        </div>
                                        <div class="col-xs-12">
                                            <select class="chosen-select chosen-transparent form-control" id="dropDownEpisodes"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="chartTree" id="custom-colored"> </div>
            </div>
        </div>

    </div>


</div>


<script src="/Content/Js/app/hierarchy.js" charset="iso-8859-1"></script>


