@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $('#LancarResultados').addClass("active");
</script>

<input id="NumberOfPlayers" value="@ViewBag.NumberOfPlayers" type="hidden" />

<div class="pageheader">
    <h2><i class="fa fa-rocket"></i> Lançar Resultados</h2>
</div>

<div id="wrap">
    <div class="row">
        <!-- Conteúdo -->
        <div class="main">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <section class="tile transparent">
                        <div class="tile-header color transparent-black textured rounded-corners">
                            Filtros
                            <br />
                            <br />

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-xs-12 col-sm-6 ">
                                        <div class="">
                                            <div class="col-xs-12">
                                                Campanha
                                            </div>
                                            <div class="col-xs-12">
                                                <select class="chosen-select chosen-transparent form-control" id="dropDownEpisodes"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="">
                                            <div class="col-xs-12">
                                                Equipe
                                            </div>
                                            <div class="col-xs-12">
                                                <select  class="chosen-select chosen-transparent form-control" id="dropDownTeams"></select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </section>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile transparent">
                        <div class="tile-body color transparent-black rounded-corners">
                           
                            <div id="archiveButtonDiv" class="table-toolbar-left">
                                <a id="archiveButton" class="btn btn-default sing-up-button" href="/admin/metas/cadastrarArquivoMeta/"
                                   title="Adicionar Resultados Arquivo"
                                   onclick="$('#archiveButton').attr('href', '/admin/lancarResultados/cadastrarResultadoArquivo/' + $('#dropDownEpisodes').val()); showEntityModal(this); return false;"><i class="fa fa-file-archive-o"></i>Importar Arquivo</a>
                            </div>

                            <div class="">
                                <table id="launchResultsDataTable" class="table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Função</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="entity-edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" />

<script src="~/Content/Js/app/launchResults.js"></script>
