
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $("#Funcao").addClass("active");
</script>
<input type="hidden" id="NumberOfWorkerTypes" value="@ViewBag.NumberOfWorkerTypes" />
<div>
    <div class="pageheader">
        <h2><i class="fa fa fa-tags"></i> Gerenciador de Funções</h2>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <div class="tile transparent">
                    <div class="tile-body color transparent-black rounded-corners">
                        <div id="gerenciarworkertypes" class="table-toolbar-left">
                            <a id="demo-dt-addrow-btn" class="btn btn-default sing-up-button" href="/admin/funcoes/cadastrar" title="Cadastrar Função" onclick="showEntityModal(this); return false;"><i class="fa fa-plus"></i> Cadastrar Função</a>
                        </div>
                        <div class="">
                            <table id="workerTypeDataTable" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Função</th>
                                        <th>Perfil</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="entity-edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" />
<script src="/Content/Js/app/workerType.js" charset="iso-8859-1"></script>