
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="pageheader">
        <h2><i class="fa fa-question"></i> Sobre o Gamific</h2>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <section class="tile color transparent-black">
                    <div class="tile-header">
                        <h1>Gamific</h1>
                    </div>
                    <div class="tile-body">
                        <p>
                            A Gamific é uma plataforma de gestão baseada no conceito de gamificação para aumentar o desempenho e a produtividade de equipes. Com a plataforma Gamific, o trabalho, operacional ou não, se transforma em um jogo de competição saudável que gera engajamento entre os colaboradores.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/Content/Js/app/about.js" charset="iso-8859-1"></script>